{% extends 'client.html.twig' %}
{% block title %}New Reclamation {% endblock %}

{% block body %}

<body>

    <h1 style="font-size: 55px;">Effectuer Réclamation</h1>
    <br>
    


    {{ include('reclamtion/_form.html.twig') }}





{% endblock %}