{% extends 'base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="../assets/client/css/bouton.css">
{% endblock %}
{% block title %}Nouveau Evenement{% endblock %}

{% block body %}
    <h1> Creér un nouveau évènement </h1>

    {{ include('evenement/_form.html.twig') }}
    <a href="{{ path('app_evenement_index') }}" class="btn btn-secondary custom-btn"> Retour à la liste </a>
{% endblock %}
