{# templates/security/forgot_password.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
    <h1>Forgot Password</h1>

    {# Your forgot password form goes here #}
    <form action="{{ path('app_reset_password_request') }}" method="post">
        {# Form fields (e.g., email) go here #}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
