{% extends 'client.html.twig' %}

{% block title %}New Commentaire{% endblock %}

{% block body %}
   

        <h1 style="font-size: 55px;"> Create  Commentaire</h1>
    <br>

    {{ include('commentaire/_form.html.twig') }}

    
{% endblock %}